@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;

}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
  margin-bottom: 8px;
  margin-top: 8px
  
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

li {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.left-links {
  display: flex;
  gap: 10px;

}

.right-links {
  display: flex;
  gap: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  padding: 8px;
}